.black{
	background-color:black;
	height: 20px;
}
.red{
	background-color: red;
	height: 150px;
	border-style: solid;
	border-color: black;
}
.green{
	background-color: green;
	height: 150px;
	border-style: solid;
	border-color: black;
}
.yellow{
	background-color: yellow;
	height: 150px;
	border-style: solid;
	border-color: black;
}
.grey{
	background-color: grey;
	height: 150px;
	border-style: solid;
	border-color: black;
}